footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    height: 120px;
}

footer h3, p{
    margin-top: 0.4em;
}

footer span{
    color: #dec129;
}

.redes{
    margin-top: 0.5em;
}

.redes a{
    margin-right: 1em;
}

#instalogo{
    height: 1em;
    width: 1em;
}

#twitterlogo{
    height: 1em;
    width: 1.2em;
}